{% extends "stat_application/base.html" %}

{% block title %}DataCooking{% endblock title %}
{% block content %}

<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">{{model.model_ja}}_分析エリア{{progress}}</a>
        </li>
      </ol>
      <!--Choose input -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="far fa-hand-pointer"></i> Select Area</div>
        <div class="card-body">
          <div class="table-responsive">
        <form method="POST" enctype="multipart/form-data" id = "getform" name = "form1">
        {% csrf_token %}
        <!-- 使用データの選択-->    
        <!-- 日付項目-->
        {% if model.model_en != 'mlr' and not 'decision_tree' in model.model_en and not 'random_forest' in model.model_en and not 'xgboost' in model.model_en %}
        <div class = "container">
        <table class = "table" width="100%" cellspacing="0">
            <tbody>
                <tr>
            <strong style = "color:orange">{{input_data.df_date.label}}:</strong>
        {% for column2 in input_data.df_date%}
                    <td>{{column2}}</td>
        {%endfor%}
        <tr>
        </tbody>
       </table>
        </div>     
        <!-- 予測項目-->
        <div class = "container">
        <table class = "table">
            <tbody>
                <tr>
        <strong style = "color:orange">{{input_data.df_predict.label}}:</strong>
        {% for column6 in input_data.df_predict%}
            <td>{{column6}}</td>
        {%endfor%}
            </tbody>
            </table>
        </div>
        {%endif%}
        <!-- 目的変数項目-->
        {% if model.model_en == 'mlr' or 'decision_tree' in model.model_en or 'random_forest' in model.model_en or 'xgboost' in model.model_en %}
        <div class = "container">
        <fieldset data-role="controlgroup" data-type="horizontal">
        <table id="table" class = "table" width="100%" cellspacing="0">
        <tbody>
            <tr>
                <strong style = "color:orange">{{input_data.df_goal.label}}:</strong>
        {% for column1 in input_data.df_goal%}
        <td class="handle">{{column1}}</td>
        {%endfor%}
            </tr>
            </tbody>
        </table>
        </fieldset>
        </div>
        <!-- 説明変数項目-->
        <div class = "container">
        <fieldset data-role="controlgroup" data-type="horizontal">
        <table id="table" class = "table" width="100%" cellspacing="0">
        <tbody>
            <tr>
                <strong style = "color:orange">{{input_data.df_data.label}}:</strong>
        {% for column1 in input_data.df_data%}
        <td class="handle">{{column1}}</td>
        {%endfor%}
            </tr>
            </tbody>
        </table>
        </fieldset>
        </div>
        <script>tableDragger(document.querySelector("#table"));</script>    
         {%endif%}
        <!-- モデルごとのオプション-->
        <div class = "container">
        <table class = "table">
            <tbody>
                <tr>
                    {% if model.model_en == 'state_space'%}
                    <strong style = "color:orange">状態空間モデルのオプション</strong>
                    <td>Seasonal：{{input_data.df_seasonal}}</td>
                    <td>Holdout：{{input_data.df_holdout}}</td>
                    <td>予測期間：{{input_data.df_predictspan}}</td>
                    <td>モデル：{{input_data.df_state_space_method}}</td>
                    {% endif %}                    
                    {% if model.model_en == 'sarima'%}
                    <strong style = "color:orange">SARIMAモデルのオプション</strong>
                    <td>Seasonal：{{input_data.df_seasonal}}</td>
                    <td>Holdout：{{input_data.df_holdout}}</td>
                    <td>予測期間：{{input_data.df_predictspan}}</td>
                </tr>
            <tbody>
            </table>
            <table class = "table">
                <tbody>
                <tr><strong style = "color:orange">自動最適化設定項目　<br>
                    <span style="font-size:75%"> ※デフォルトは自動最適化の設定　→計算に10分程度かかる場合もあり　→(p,d,q,sp,sd,sq) = (3,3,1,1,1,1)を上限に設定(計算時間があまりにもかかるため)　※なしを選択した場合、下のp,d,q,sp,sd,sqを自由に変更</span></strong>
                     {% for autoflag in input_data.df_autoflag%}
                     <td>{{autoflag}}</td>
                     {% endfor %}
                     {% for p in input_data.df_p%}
                     <td>p：{{p}}</td>
                     {% endfor %}
                     {% for d in input_data.df_d%}
                     <td>d：{{d}}</td>
                     {% endfor %}
                     {% for q in input_data.df_q%}
                     <td>q：{{q}}</td>
                     {% endfor %}
                     {% for sp in input_data.df_sp%}
                     <td>sp：{{sp}}</td>
                     {% endfor %}
                     {% for sd in input_data.df_sd%}
                     <td>sd：{{sd}}</td>
                     {% endfor %}
                     {% for sq in input_data.df_sq%}
                     <td>sq：{{sq}}</td>
                     {% endfor %}
                    {% endif %}                   
                    {% if model.model_en == 'prophet'%}
                   <strong style = "color:orange"> Prophetモデルのオプション</strong>
                    <td>日付の単位：{{input_data.df_date_unit}}</td>
                    <td>Seasonal：{{input_data.df_seasonal}}</td>
                    <td>Holdout：{{input_data.df_holdout}}</td>
                    <td>予測期間：{{input_data.df_predictspan}}</td>
                    <td>モデル：{{input_data.df_prophet_method}}</td>
                </tr>
            </tbody>
            </table>
            <table class = "table">
            <tbody>
                <tr><strong style = "color:orange">非線形のオプション：</strong>

                    <td>キャップの上限：{{input_data.df_cap}}　※0だとエラーになります</td>
                    {% endif %}
                    {% if model.model_en == 'rnn'%}
                    <strong style = "color:orange">RNNモデルのオプション</strong>
                    <td>Seasonal：{{input_data.df_seasonal}}</td>
                    <td>Holdout：{{input_data.df_holdout}}</td>
                    <td>予測期間：{{input_data.df_predictspan}}</td>
                    {% endif %}
                    {% if model.model_en == 'mlr'%}
                    <strong style = "color:orange">重回帰モデルのオプション</strong>
                    <td>Holdout：{{input_data.df_holdout}}</td>
                     {% for capflag in input_data.df_constflag%}
                     <td>定数項：{{capflag}}</td>
                     {% endfor %}
                    <td>モデル：{{input_data.df_regression_method}}</td>
                    {% endif %}
                    {% if 'decision_tree' in model.model_en %}
                    <strong style = "color:orange">決定木モデルのオプション</strong>
                    <td>学習サンプル数：{{input_data.df_holdout}} %</td>
                    <td>スコアリング方法：{{input_data.df_score}}</td>
                    {% endif %}
                    {% if 'random_forest' in model.model_en %}
                    <strong style = "color:orange">ランダムフォレストモデルのオプション</strong>
                    <td>学習サンプル数：{{input_data.df_holdout}} %</td>
                    <td>スコアリング方法：{{input_data.df_score}}</td>
                    {% endif %}
                    {% if 'xgboost' in model.model_en %}
                    <strong style = "color:orange">XGBoostのオプション</strong>
                    <td>学習サンプル数：{{input_data.df_holdout}} %</td>
                    <td>スコアリング方法：{{input_data.df_score}}</td>
                    {% endif %}
                </tr>
            </tbody>
            </table>
        </div>
                <script>
                /* buttonのdisable属性を書き換える */
                /*必須選択項目が選択されているか*/
                function checkSimValue(check){
                var btn1 = document.getElementById('btn-overlay');
                var count_date = 0;var count_predict = 0;
                $('input[name="df_date"]:checked').each(function() {
                count_date = $(this).prop('checked');   
                })
                $('input[name="df_predict"]:checked').each(function() {
                count_predict = $(this).prop('checked');   
                })
                if(count_date && count_predict){
                btn1.removeAttribute('disabled');
                }else{
                btn1.setAttribute('disabled', 'disabled');     
                }
                }
                function checkRegValue(check){
                var btn1 = document.getElementById('btn-overlay');
                var count_data = 0;var count_goal = 0;
                $('input[name="df_data"]:checked').each(function() {
                var r = $(this).prop('checked');   
                count_data = count_data +1;
                })
                $('input[name="df_goal"]:checked').each(function() {
                count_goal = $(this).prop('checked');   
                })
                if(count_data >=1 && count_goal){
                btn1.removeAttribute('disabled');
                }else{
                btn1.setAttribute('disabled', 'disabled');     
                }
                }
                /*Prophet：キャップをかけるか(線形or非線形で確認)*/
                function selectValueProphet(check){
                var btn4 = document.getElementById('id_df_cap');
                var method;
                $('[name="df_prophet_method"] option:selected').each(function() {
                method = $(this).val();
                })
                if(method == "logistic"){
                    btn4.removeAttribute('disabled');
                }else{
                    btn4.setAttribute('disabled', 'disabled');
                }
                }   
                /*SARIMA：自動最適化するか*/
                function checkAutoValue(check){
                var btn5 = document.getElementById('id_df_p');
                var btn6 = document.getElementById('id_df_d');
                var btn7 = document.getElementById('id_df_q');
                var btn8 = document.getElementById('id_df_sp');
                var btn9 = document.getElementById('id_df_sd');
                var btn10 = document.getElementById('id_df_sq');
                var autoflag = 0;
                $('input[name="df_autoflag"]:checked').each(function() {
                autoflag = $(this).prop('checked');   
                })
                if (autoflag) {
                btn5.removeAttribute('disabled');
                btn6.removeAttribute('disabled');
                btn7.removeAttribute('disabled');
                btn8.removeAttribute('disabled');
                btn9.removeAttribute('disabled');
                btn10.removeAttribute('disabled');
                } else {
                btn5.setAttribute('disabled', 'disabled');
                btn6.setAttribute('disabled', 'disabled');
                btn7.setAttribute('disabled', 'disabled');
                btn8.setAttribute('disabled', 'disabled');
                btn9.setAttribute('disabled', 'disabled');
                btn10.setAttribute('disabled', 'disabled');
                }
                }
                </script>
        <div>
        <!--<input type="submit" value="Simulation"　name="choices"> -->
        <table class = "table">
        <tbody>
        <tr>
        <td><button type="submit" class="btn btn-primary" value="Simulation" name = "choices" id = "btn-overlay" disabled = "disabled">
            <i class="fas fa-calculator"></i> Simulation</button></td>
           <td><!--<progress value="50" max="100" id ="result"></progress>--></td>
        </tr>
        </tbody>
        </table>
        </div>
        </form>
        <!--<a href="{% url 'stat_application:state_space' %}"><button>戻る</button></a>-->
          </div>
      </div>
  </div>
        
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Preview</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
               <thead style = "color:orange">
                    <tr>                    
                    {% for column in header %}
                  <th>{{column}}</th>
                {%endfor%}
                </tr>
              </thead>
              <tbody>
              {% for data_head in data_heads %}
                <tr>
                    {%for data in data_head %}
                  <td>{{data}}</td>
                    {%endfor%}
                </tr>
              {%endfor%}
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated </div>
      </div>
    </div>
    </div>

{% endblock content %}