{% extends "stat_application/base.html" %}

{% block title %}Data Simple Analyzer{% endblock title %}
{% block content %}  

<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">連絡先</a>
        </li>
      </ol>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-file"></i> 連絡先情報</div>
                <div class="card-body">
                    連絡は下記アドレスにお願いいたします。<br>
                    taro.yamada.gad@gmail.com
            </div>
        </div> 

    </div>
    {% endblock content %}