{% extends "stat_application/base.html" %}

{% block title %}Data Simple Analyzer{% endblock title %}
{% block content %}  

<div class="content-wrapper" id="image">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">HOME</a>
        </li>
      </ol>
        <div id="title"><a class="navbar-brand" style="color:#FFFFFF;font-size:50pt;">
            Data<font color = "orange">Cooking</font></a>
        <ol style="color:#FFFFFF;font-size:25pt;text-align:center">
            1.モデルを選択
            2.データをUP
            3.オプションを選択
            </ol>
            <a style="color:orange;font-size:40pt;">誰でも簡単に使えるデータモデリングアプリ</a>
        </div>
        <!--使用方法 -->
           <!--{% load static %}
        <div class="card mb-3">
            <div class="card-header">
        <i class="fas fa-question-circle"></i> 使用方法</div>
            <div class="card-body">
                <ol style = "color:#FFFFFF">
                    <li>左の項目からモデルを選択</li>
                    <li>CSVデータをアップロード(機密データはアップしないでください。入れたい場合はダミー化してください。)</li>
                    <li>項目を選択</li>
                    <li>シミュレーション結果がグラフに！</li>
                </ol>
            </div>
        </div>-->
        <!--説明概要 -->
        <!--<div class="card mb-3">
            <div class="card-header">
        <i class="fas fa-question-circle"></i> What's This!?</div>
            <div class="card-body">
                           <span style = "color:#FFA500">誰でも簡単に時系列予測・分類予測ができちゃうWEBアプリです！具体的に使用場面としては以下を想定しています！</span>
                            <ul style = "color:#FFFFFF">
                                <li>なんかよくわかんないけど、予測ってかっこよさそうだからしてみたい。</li>
                            <li>とりあえずデータはあって、適当に予測したいけどプログラムが書けない。</li>
                            <li>プログラムは書けるけど、いざ書くのは面倒。</li>
                            <li>いろんなモデルで精度見たいけどプログラムを書いている時間がない。</li>
                </ul>
                <span style = "color:#FFA500">以下の人におすすめです！</span>
                <ul style = "color:#FFFFFF"><li>データサイエンス入門者〜中級者</li></ul>
                <br>※本アプリケーションで作成されたシミュレーション結果に対して、一切の責任を持ちません。ご了承ください。
            </div>
        </div>-->
    </div>
</div>
    {% endblock content %}