{% extends "stat_application/base.html" %}

{% block title %}Data Simple Analyzer{% endblock title %}
{% block content %}  

<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">重回帰分析_分析エリア</a>
        </li>
      </ol>
      <!-- ドラッグアンドドロップエリア-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-file"></i> Data Input Area</div>
                <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" class="dropify" name="file" id = "inputFile"onChange="SelectFile(this)"> 
                    <table class = "table">
                    <tbody>
                        <tr>
                        <td>
                    <button type="submit" class="btn btn-primary" value="Upload" id = "btn-overlay" disabled="disabled">
                        <i class="fas fa-cloud-upload-alt"></i> CSV File Upload</button></td>
                    </tr>
                    </tbody>
                        </table>
                </form>
                <script>
                /* buttonのdisable属性を書き換える */
                function SelectFile(check){
                var btn1 = document.getElementById('btn-overlay');
                var file = $('#inputFile')[0].files[0];
                if(file){
                btn1.removeAttribute('disabled');
                }else{
                btn1.setAttribute('disabled', 'disabled');     
                }
                }
                $('.dropify').dropify();
                </script>
            </div>
        </div> 
                <!-- Example InputDataTables-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Input Data Example</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <p style = "color:orange">"目的変数"の項目と"説明変数"の項目が入ったデータが必要<br></p>
               <thead>
                    <tr>                    
                  <th>家賃(目的変数)</th>
                  <th>部屋の広さ(説明変数)</th>
                  <th>駅からの距離(説明変数)</th>
                  <th>築年数(説明変数)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>80000</td>
                  <td>30</td>
                  <td>5</td>
                  <td>10</td>
                </tr>
                  <tr>
                  <td>10000</td>
                  <td>50</td>
                  <td>3</td>
                  <td>5</td>
                </tr>
                  <tr>
                  <td>60000</td>
                  <td>20</td>
                  <td>10</td>
                  <td>13</td>
                </tr>
                  <tr>
                  <td>200000</td>
                  <td>50</td>
                  <td>3</td>
                  <td>1</td>
                </tr>
                  <tr>
                  <td>30000</td>
                  <td>10</td>
                  <td>20</td>
                  <td>30</td>
                </tr>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated</div>
      </div>
    </div>
    {% endblock content %}