{% extends "stat_application/base.html" %}

{% block title %}Data Simple Analyzer{% endblock title %}
{% block content %}

<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">SARIMAモデル_分析エリア</a>
        </li>
      </ol>
      <!--Choose input -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="far fa-hand-pointer"></i> Select Area</div>
        <div class="card-body">
          <div class="table-responsive">
        <form method="POST" enctype="multipart/form-data">
        <!-- 粒度項目-->
        <div class = "container">
        {% csrf_token %}
        <fieldset data-role="controlgroup" data-type="horizontal">
        <table id="table" class = "table">
        <tbody>
            <tr>
        {{input_data.df_data.label}}:
        {% for column1 in input_data.df_data%}
        <td class="handle">{{column1}}</td>
        {%endfor%}
            </tr>
            </tbody>
        </table>
        </fieldset>
        </div>
        <script>tableDragger(document.querySelector("#table"));</script>
            
        <!-- 使用データの選択-->    
        <!-- 日付項目-->
        <div class = "container">
        <table class = "table">
            <tbody>
                <tr>
            {{input_data.df_date.label}}:
        {% for column2 in input_data.df_date%}
                    <td>{{column2}}</td>
        {%endfor%}
        <tr>
        </tbody>
       </table>
        </div>            
        <!-- 予測項目-->
        <div class = "container">
        <table class = "table">
            <tbody>
                <tr>
        {{input_data.df_predict.label}}:
        {% for column6 in input_data.df_predict%}
            <td>{{column6}}</td>
        {%endfor%}
            </tbody>
            </table>
        </div>
            
        <!-- SARIMAモデルのオプション-->
        <div class = "container">
        <table class = "table">
            <tbody>
                <tr>
            SARIMAモデルのオプション
                    <td>Seasonal：{{input_data.df_seasonal}}</td>
                    <td>Holdout：{{input_data.df_holdout}}</td>
                    <td>予測期間：{{input_data.df_predictspan}}</td>
                </tr>
                </tbody>
            </table>
            <table class = "table">
            <tbody>
                <tr>
                <!--パラメータ決定(自動最適化 or マニュアル入力)：
                    <form id = "target">
                {% for flag in input_data.df_autoflag %}
                <td>{{flag}}</td>
                {% endfor %}
                    <td>p：{{input_data.df_p}}</td>
                    <td>d：{{input_data.df_d}}</td>
                    <td>q：{{input_data.df_q}}</td>
                    <td>sp：{{input_data.df_sp}}</td>
                    <td>sd：{{input_data.df_sd}}</td>
                    <td>sq：{{input_data.df_sq}}</td>-->
                </tr>
            </tbody>
            </table>
        </div>
        <div>
        <!--<input type="submit" value="Simulation"　name="choices"> -->
        <button type="submit" class="btn btn-primary" value="Simulation" name = "choices">
        <i class="fas fa-calculator"></i> Simulation</button>
        </div>
        </form>
        <!--<a href="{% url 'stat_application:state_space' %}"><button>戻る</button></a>-->
          </div>
      </div>
        
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Preview</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
               <thead>
                    <tr>                    
                    {% for column in header %}
                  <th>{{column}}</th>
                {%endfor%}
                </tr>
              </thead>
              <tbody>
              {% for data_head in data_heads %}
                <tr>
                    {%for data in data_head %}
                  <td>{{data}}</td>
                    {%endfor%}
                </tr>
              {%endfor%}
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated hoge</div>
      </div>
    </div>
    </div>

{% endblock content %}