{% extends "stat_application/base.html" %}

{% block title %}Data Simple Analyzer{% endblock title %}
{% block content %}  

<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">状態空間モデル_分析エリア</a>
        </li>
      </ol>
      <!-- ドラッグアンドドロップエリア-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-file"></i> Data Input Area(ファイル名は英語でお願いします)</div>
                <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" class="dropify" name="file" id = "inputFile"onChange="SelectFile(this)"> 
                    <table class = "table">
                    <tbody>
                        <tr>
                        <td>
                    <button type="submit" class="btn btn-primary" value="Upload" id = "btn-overlay" disabled="disabled">
                        <i class="fas fa-cloud-upload-alt"></i> CSV File Upload</button></td>
                    </tr>
                    </tbody>
                        </table>
                </form>
                <script>
                /* buttonのdisable属性を書き換える */
                function SelectFile(check){
                var btn1 = document.getElementById('btn-overlay');
                var file = $('#inputFile')[0].files[0];
                if(file){
                btn1.removeAttribute('disabled');
                }else{
                btn1.setAttribute('disabled', 'disabled');     
                }
                }
                $('.dropify').dropify();
                </script>
            </div>
        </div> 
                <!-- Example InputDataTables-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Input Data Example</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <p style = "color:orange">"日付"の項目と"予測対象物"の項目のみ入ったデータが必要<br></p>
               <thead>
                    <tr style = "color:orange">                    
                  <th>Day(日付)</th>
                  <th>Passengers(予測対象物)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1949/01/01</td>
                  <td>112</td>
                </tr>
                  <tr>
                  <td>1949/02/01</td>
                  <td>118</td>
                </tr>
                  <tr>
                  <td>1949/03/01</td>
                  <td>132</td>
                </tr>
                  <tr>
                  <td>1949/04/01</td>
                  <td>129</td>
                </tr>
                  <tr>
                  <td>1949/05/01</td>
                  <td>121</td>
                </tr>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated</div>
      </div>
    </div>
    {% endblock content %}