<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="content">
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link rel='stylesheet' href='http://cdn.rawgit.com/JeremyFagis/dropify/master/dist/css/dropify.css' />
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' /> 
        <script src='http://cdn.rawgit.com/JeremyFagis/dropify/master/dist/js/dropify.js'></script> 
        <script src="https://cdn.rawgit.com/sindu12jun/table-dragger/dev/dist/table-dragger.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
        <title>ファイルアップローダ</title>
    </head>
    <body>
        {% block content %}
        {{content}}
        {% endblock %}
    </body>
</html>